.pagination-container {
    display: flex;
    align-items: center;


}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    user-select: none;
    padding: 1.3rem;
    flex-grow: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pagination-item-active {

    background-color: rgb(18, 89, 203) !important;
    color: white;
}

.btn {
    transition: 0.3;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
    background-color: rgba(23, 142, 86, 0.447);
}

.btn:hover {
    background-color: rgb(23, 142, 86);
}



.dis {
    background-color: red !important;
}