@media (width<991px) {

 
    .navLinks {
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 0;
        background-color: rgb(14, 155, 180);
        padding: 0 0;
        text-align: center;
        transition: 0.3s;

        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
    }

    .navLinks a {
        padding: 10px 80px;
        transition: 0.2;
        -webkit-transition: 0.2;
        -moz-transition: 0.2;
        -ms-transition: 0.2;
        -o-transition: 0.2;
    }

    .navLinks a:hover {
        background-color: #0b6d7e;
    }

    .showLink {
        animation: bottom_center 0.4s both;
        -webkit-animation: bottom_center 0.4s both;
    }

}



@keyframes bottom_center {
    0% {
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
    }

    50% {
        transform: translateY(15%);
        -webkit-transform: translateY(15%);
        -moz-transform: translateY(15%);
        -ms-transform: translateY(15%);
        -o-transform: translateY(15%);
    }

    100% {
        transform: translateY(0%);
    }

}