@tailwind base;
@tailwind components;
@tailwind utilities;


.vh-100 {

    min-height: 100vh;
}

.vh-dash {
    min-height: calc(100vh - 113px);

}

@media (width<768px) {

    .muins-trnsalte {
        transform: translateX(-160%);
        -webkit-transform: translateX(-160%);
        -moz-transform: translateX(-160%);
        -ms-transform: translateX(-160%);
        -o-transform: translateX(-160%);
    }
}

.vh-site {
    min-height: calc(100vh - 104px);
}