.hero {
    background-image: url("../../../../public/images/bg_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 0;

}

.overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #198fc6;
    opacity: 0.6;
}